[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=screenrecorder-gui
Exec=screenrecorder-gui
Name=Screenrecorder

#[X-Sailjail]
#OrganizationName=org.coderus
#ApplicationName=screenrecorder-gui
#Permissions=Compatibility;Audio;Camera;MediaIndexing;RemovableMedia;UserDirs;
#ExecDBus=screenrecorder --daemon --dbus
